@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nevada";
  src: url("../public/fonts/Nevada-Light.woff");
}

@font-face {
  font-family: "Minion";
  src: url("../public/fonts/Minion-Italic.woff");
}

@font-face {
  font-family: "Soleil";
  src: url("../public/fonts/SoleilBook.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Soleil";
  src: url("../public/fonts/SoleilLight.woff");
  font-weight: 200;
}

@font-face {
  font-family: "Soleil";
  src: url("../public/fonts/SoleilRegular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Soleil";
  src: url("../public/fonts/SoleilBold.woff");
  font-weight: 600;
}

body {
  background: #F1F0EB;
}

main {
  padding-top: 110px;
}

.sag_hero_img {
  background-image: url('./assets/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.sag_marcas_img {
  background-image: url('./assets/marcas_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.nosotros_left {
  background-image: url('./assets/nosotros_left.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.nosotros_right {
  background-image: url('./assets/nosotros_right.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

